<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label>Add new user:</label>
                <form id="HB_new-user-form" name="form" role="form">
                    <div class="form-group">
                        <input id="HB_new-user-form-input" type="email" ng-model="newUser.email" placeholder="email" required class="form-control">
                        <input datepicker id="HB_new-user-form-date" type="text" ng-model="newUser.hireDate " placeholder="hiredate" class="form-control">

                        <button id="HB_new-user-form-button" ng-disabled="form.$invalid" ng-click="addUser(newUser)" class="btn btn-primary">Add user</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="table-responsive">
                    <input ng-model="searchText">
                    <table class="table table-striped" id="HB_users-page">
                        <tr class="hb-user" ng-repeat="user in users | filter:searchText">
                            <td class="hb-user-email"><inputeditable id="HB_user-email-inputeditable-{{$index+1}}" text="user.email"></inputeditable></td>
                            <td class="hb-user-date">{{user.hireDate | date:'dd MMM yyyy'}}</td>
                            <td>
                                <button type="button" id="HB_update-button-{{$index+1}}" ng-click="updateUser(user)" class="btn btn-primary">update</button>
                                <button type="button" id="HB_delete-button-{{$index+1}}" ng-click="deleteUser(user.id)" class="hb-delete-button btn btn-warning">delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
